# Ignore environment variable file
.env

# Ignore Python virtual environments
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# IDE files
.idea/

# Mac system files
.DS_Store
